h4 {
    margin-bottom: 3vh;
    color: black;
}
.blog-post-content {
    @include panel(10%);
    margin-bottom: 3vh;
    img {
        width: 100%;
        margin-bottom: 3vh;
    }
    p {
        text-align: start;
        margin-bottom: 3vh;
    }
}