@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import "variables";
@import "index";
@import "about";
@import "contact";
@import "blogs";
@import "blog-post";

* {
    margin: 0;
    padding: 0;
}

html, body {
    background: url(../background.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    text-align: center
}

header {
    @include flex-position(flex-start, center);
    flex-wrap: wrap;
    height: 20vh;

    img {
        width: 95vw;
        margin-top: 3vh;
    }

    .navbar {
        @include flex-position(space-evenly, center);
        width: 100vw;
        a{
            color: #ffffff
        }
    
    }
}

.wrapper {
    @include flex-position(center,center);
    flex-direction: column;
    main {
        width: 80vw;
        h1 {
            margin-bottom: 3vh;
            color: white;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15vh;
    margin-top: 1rem;

    a {
        text-decoration: none;
    }

}

.button {
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    background-color: #FFE194;
    text-transform: uppercase;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0 9px 15px #999;
}

.button:hover{
    background-color: #c19f33;
}

.button:active {
    background-color: #c19f33;
    box-shadow: 0 5px 15px #666;
    transform: translateY(4px);
  }

@media screen and (min-width: 600px) {
    header {
        @include flex-position(space-between, center);
        height: 15vh;
        img {
            width: 50%;
            margin: 0;
        }
        .navbar {
            width: 50%;
            font-size:large;
        }
    }
}


