@mixin flex-position($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin panel($padding) {
    position: relative;
    padding: $padding;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
}